################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Demo.AspNetCore.ServerSentEvents/Db
/Demo.AspNetCore.ServerSentEvents/bin/Any CPU/Release/netcoreapp2.0
/Demo.AspNetCore.ServerSentEvents/obj/Any CPU/Release/netcoreapp2.0
/Demo.AspNetCore.ServerSentEvents/obj/Release/netcoreapp2.0/PubTmp/Out
/Demo.AspNetCore.ServerSentEvents/Properties/PublishProfiles
/ConsoleApp1/bin/Debug/netcoreapp2.0
/DB.Layer/obj
